<h1>New miniature</h1>

<%= form_for @miniature, :html => { :multipart => true } do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :type %>
  <%= f.text_field :war_type %><br />
  <%= f.label :picture %>
  <%= f.file_field :picture %><br>
  <%= f.submit %>
<% end %>

<%= link_to 'Back', :action => :show %>
